.wrapper {
  cursor: pointer;
}

.icon_open {
  width: 20px;
  height: 20px;
  background-image: url("../../../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transform: rotate(180deg);
  transition: 200ms;
}

.icon_closed {
  width: 20px;
  height: 20px;
  background-image: url("../../../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transition: 200ms;
}
